@import "../utilities/_index";
.header{
  background-color: #30AE63;//url(../../images/homepage-h.svg) no-repeat;
  width: 100%;
  color: $header_color;
  font-size: 14px;
  font-family: $font;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.header__menu{
    width: 100%;
    height:40px;
    display: flex;
    justify-content: space-between;
}
.nav_link{
  color: $header_color;
  display: flex;
  height: 25px;
  font-family: $font;
  font-size: 14px;
  box-sizing: border-box;
  }
.header__navigation{
  width: 83.259%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_ovals{
  height: 20px;
  width:25px;
  display: flex;
  margin-right: 5px;
}
.header_oval{
  width: 4px;
  height: 4px;
  background: $header_color;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 5px 4px 0px 0px;
}

.nav_register{
  width:33.482%;
  height:40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.shareAds{
  width:236px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  &_img{
    margin: 0px 13px 0px 15px;
  }
}

.enter{
  height:17.09px;
  width:46px;
}
.header_content{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.content__title{
  font-size:32px;
  letter-spacing: -1px;
  line-height: 38.92px;
  padding-bottom: 10px;
}
.content__search{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}
.choose__city {
  width: 38.651%;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choose__rooms{
  height:66px;
  width: 29.775%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choose__rooms_items{
  width:93.584%;
  height: 40px;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
}
.choose__rooms_item{
  height:40px;
  width:40px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content__search_start{
  width:200px;
  background-color: #FFFFFF;
  color:#30ae63;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 2px solid #30AE63;
}
.content__search_start:hover{
  background-color: #30AE63;
  border-radius: 0;
  color:#FFFFFF;
}

.header_wrapper{
  width:78.830%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav_wrapper{
  width: 51.011%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}






