@import "../utilities/_index";

.select__clear{
  position: absolute;
  right:3px;
  color: #152935;
  display: none;
}
.select__clear:hover{
  color: darkred;
  transform: scale(1.2);
}

.choose__city__content_select{
  width:100%;
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
}

.select__header{
  border:2px solid #dfe3e6;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  align-items: center;
  position: relative;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
.selectVisibleText_header{
  position: absolute;
  font-family: $font;
  font-size: 14px;
  left:15px;
  top:12px;
  line-height: 18px;
  color: #152935;
}
.selectVisibleArrow_header{
  position: absolute;
  top:48%;
  align-self: flex-end;
  right:15px;
}
.choose__city__content_select-item
{
  display: none;
  width: 100%;
  background-color: #FFFFFF;
  border: 0;
  z-index: 10;
  position: relative;
  box-sizing: border-box;

  input{
    height:100%;
    width:100%;
    outline: 0;
    border: 0;
  }

}
.choose__city__content_select-item:hover{
  background-color: #30AE63;
  .selectVisibleText_header {
    color: #FFFFFF;
  }
}
.selectItem_header{
  width: 100%;
  height: 40px;
  align-items: center;
  position: relative;
}



