@import "../utilities/_index";
@media(max-width: 890px){
 .header,.footer,.header__menu,.header_content,
 .content__search,.realty_search,.content,.content__metrovka_wrapper,
 .content_telegram,.metrovka__news,.telegram__header_text,
 .telegram__header,.content__metrovka,.footer__content {
    width: 100% !important;
    height: auto !important;
  }
  .telegram__header_menu,.select__header,.choose__rooms,.choose__city,
 .choose__city__content_select-item,.content__search_start,
 .selectItem_header,.choose__city__content_select,
 .telegram__content__info{
  width: 100% !important;
 }
 .choose__rooms_item{
 padding: 2px !important;
 }
 .footer__content__item{
  width: auto !important;
  padding: 10px;
 }
 .choose__city,.choose__rooms{
  padding: 15px;
 }
 .footer__content__item_networks{
 align-items: center !important;
 }
 .metrovka__news{
  flex-direction: column;
  align-items: center;
 }
.list{
      display: flex;
      flex-direction: column;
      align-items: center;  
      }
  .oterblocks{
    text-align: left;
  }
.whiteback{
  margin-bottom: 5px;
  }
.apartments{
  overflow-x: auto;
  overflow-y: hidden;
}

.h_rehidden{

}
.h_hidden{    
    display: none !important;
    visibility: hidden;
    transform: scale(0);
}
.footer{
  &__content{
    flex-direction:column;
    align-items: center;
    text-align:center;
  }
}
.content_realty{
  width:100% !important;
}
.content__search{
    flex-direction: column;
    align-items: center !important;
}
.rehidden{
}
.hidden{
    display: none !important;
    visibility: hidden;
    transform: scale(0);
}
.realty_search{
  flex-direction:column-reverse;
}
}
@media(min-width: 890px) and (max-width: 1280px){
    .header,.header__menu,.header_content,
  .content__search,.select__header,
  .choose__city__content_select-item,
  .selectItem_header,.choose__city__content_select{
    width: 100%;
  }
}

@media(min-width:1280px){
  .rightpart{
    margin-top: 110px;
    width: 20%;
    height: 594px;
  }
   .c_hidden{
  }
  .leftpart{
 width: 80%;
}
}

@media(max-width:1280px){
  .rightpart{
    width: 0% !important;
  }
    .leftpart{
    width: 100%;
  }
  .c_hidden{
    display: none !important;
    visibility: hidden;
    transform: scale(0);
  }
  .modal{
  width:62,5%;
  height:74%;
}
}
 .listall{
      display: flex;
    }
@media(min-width: 890px){
    .list{
      display: flex;
    }
    .h_rehidden{
    display: none !important;
    visibility: hidden;
    transform: scale(0);
    }
    .h_hidden{
    }
}
@media(max-width: 1129px){
  .page{
    width: 100%
}
}

@media(max-width: 580px){
  .fullwide{
    width: 100% !important;
  }
  .partwide{
    width: 35% !important;
  }
  .halfwide{
    width: 85% !important;
  }
}
